.footer {
  background-color: #0d1b2a;
  color: #fff;
  padding: 25px 0;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  padding-left: 80px;
}

.footerMargin {
  padding-left: 90px;
}

.footerSection {
  flex: 1;
  margin: 0 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.navList {
  list-style-type: none;
  padding: 0;
}

.navList li {
  margin-bottom: 8px;
}

.navList li:hover {
  color: #81b8f3;
}

.footerBottom {
  text-align: center;
}

.footerBottom p {
  margin-bottom: 10px;
}

.socialIcons {
  font-size: 18px;
  margin-top: 25px;
}

.socialIcons img {
  margin: 0 10px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.socialIcons i:hover {
  color: #007bff;
}
