.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
}

.navbar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.streak {
  width: 80%;
  margin-left: 20%;
  padding: 20px;
  padding-bottom: 50px;
  overflow-y: auto;
}

.footer {
  background-color: #0d1b2a;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.heading {
  color: #0d1b2a !important;
  z-index: 10;
  text-align: center;
  position: relative;
}
