.reg_container {
  max-width: 600px;
  margin: auto;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.reg_header {
  text-align: center;
  color: #333;
}

.reg_form {
  display: flex;
  flex-direction: column;
}

.reg_form div {
  margin-bottom: 15px;
  position: relative;
}

.reg_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.reg_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.reg_dateInput {
  padding: 8px;
}

.reg_passwordInput {
  width: calc(100% - 90px);
  padding: 10px;
}

.reg_toggleButton {
  display: inline;
  border: none;
  border-radius: 4px;
  background: url("../../public/hidden.svg");
  height: 40px;
  width: 63px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.reg_toggleButton:hover {
  background-color: #5a6268;
}

.reg_submitButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reg_submitButton:hover {
  background-color: #0056b3;
}

.reg_error {
  color: red;
  font-size: 14px;
}
