.tasklist {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
}

.tasklist h1 {
  font-size: 26px;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}
