.footer {
  background: linear-gradient(90deg, #f1b0b0, #b78dd7, #84b8c0);
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  background-size: 200% 200%;
  transition: background-position 0.3s ease-out, background-color 0.3s ease;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  padding-left: 80px;
}

.footerMargin {
  padding-left: 90px;
}

.footerSection {
  flex: 1;
  margin: 0 10px;
}

.footer_title {
  font-size: 20px;
  margin-bottom: 5px;
  color: aliceblue;
  font-weight: 700;
  text-align: left;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: large;
  font-weight: 700;
}

.footer_navList {
  list-style-type: none;
  padding: 0;
}

.footer_navList li {
  margin-bottom: 4px;
}

.footer_navList li:hover {
  color: #30363c;
}

.footerBottom {
  text-align: center;
  margin-top: 15px;
}

.footerBottom p {
  margin-bottom: 7px;
  font-weight: 600;
}

.socialIcons {
  margin-top: 25px;
}

.footer_socialIcons img {
  margin: 0 10px;
  cursor: pointer;
  width: 22px;
  display: inline;
  height: 22px;
  transition: transform 0.5s ease-in-out;
}

.footer_socialIcons img:hover {
  transform: scale(1.2);
}
