.minHScreen {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif");
  background-position: center;
  overflow: hidden;
}

.log_inner {
  width: 100%;
  height: 100% !important;
  padding: 5px 20px;
  position: absolute;
  display: flex;
  backdrop-filter: blur(50px);
  align-self: center;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
    box-shadow: 0 0 80px 40px rgba(106, 59, 163, 0.6);
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 120px 60px rgba(106, 59, 163, 0.8);
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
    box-shadow: 0 0 80px 40px rgba(106, 59, 163, 0.6);
  }
}

@keyframes glowingAnimation {
  0% {
    box-shadow: 0 0 20px rgba(29, 1, 46, 0.7), 0 0 50px rgba(52, 9, 87, 0.5);
  }
  100% {
    box-shadow: 0 0 50px rgba(82, 14, 142, 0.9), 0 0 100px rgba(47, 2, 70, 0.7);
  }
}

.cardContainer {
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid rgba(187, 132, 247, 0.679);
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.welcomeTitle {
  color: #f5f5f5;
}

.welcomeSubtitle {
  color: #e09eff;
}

.rightSection {
  backdrop-filter: blur(150px);
  border-end-end-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 30px 40px;
  padding-top: 10px;
}

.loginTitle {
  color: #f5f5f5;
}

.label {
  color: white;
}

.toggleButton {
  color: #e09eff;
  transition: color 0.3s ease;
}

.toggleButton:hover {
  color: #d091ff;
}

.textGray {
  color: #d1c4db;
}

.link {
  color: #d091ff;
}

.link:hover {
  color: #a05ed3;
}

.submitButton {
  background-color: #622fa2c7;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin-top: 30px;
  border-radius: 8px;
  transition: background-color 0.6s ease, transform 0.6s ease;
}

.submitButton:hover {
  background-color: #8450c4c7;
  transform: scale(1.03);
}

.input {
  background-color: rgba(129, 59, 183, 0.05);
  backdrop-filter: blur(200px);
  border: 2px solid #dad5e155;
  color: white;
  margin: 0;
  padding: 5px 10px;
  border-radius: 7px;
  transition: border 0.3s ease;
}

.input:focus {
  background-color: rgba(129, 59, 183, 0.1);
}

.errorMessage {
  color: #ff4f4f;
}

.registerLink {
  color: #e09eff;
  transition: color 0.3s ease;
}

.registerLink:hover {
  color: #c880d5;
}
