.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
  display: block;
}

.navbar {
  width: 20%;
  display: flex;
}

.streak {
  width: 80%;
  display: flex;
}
