.pageContainer_Outer {
  display: flex;
  flex-direction: column;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  color: #cebde1;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

/* .pageContainer_Inner {
} */

.container {
  display: flex;
  flex: 1;
  width: 100%;
  z-index: -3;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 20%;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.streak_outer {
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-color: rgb(4, 0, 7);
  background-image: url("https://i.pinimg.com/originals/a7/99/61/a79961637e3d670135579a9138176fcf.gif");
  /* background-image: url("https://i.pinimg.com/564x/96/20/f2/9620f20732015118ec80aa994c959226.jpg"); */
  /* background: linear-gradient(180deg, rgba(41, 20, 67, 0.881), rgb(12, 1, 34)); */
  /* background-image: url("https://i.pinimg.com/564x/cf/bf/89/cfbf89d19825eb6f9ee39c651bd52009.jpg"); */
  /* background-image: url("https://i.pinimg.com/564x/73/6f/98/736f98230383b5344fd6bd9de9feabd3.jpg"); */
}

.streak {
  width: 80%;
  margin-left: 20%;
  padding-bottom: 50px;
  backdrop-filter: blur(50px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #0d1b2a;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.heading {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: 30px;
  /* background: linear-gradient(90deg, #ead6ff, #ead6ff, #ead6ff); */
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
}

.userGreeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(210, 179, 255, 0.6);
  margin-bottom: 10px;
  transition: transform 1.5s ease;
  /* box-shadow: 0 8px 16px rgba(58, 15, 90, 0.804); */
}

.profileImage:hover {
  transform: rotateY(360deg);
}

.userTask {
  font-size: 24px;
  text-align: center;
}
