.navbar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  display: flex;
  color: #526d82;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar nav ul li {
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
}

.navbar nav ul li:nth-child(1):hover {
  background-color: #cdf2ca;
}

.navbar nav ul li:nth-child(2):hover {
  background-color: #d9f4f3;
}

.navbar nav ul li:nth-child(3):hover {
  background-color: #d0ebf8;
}

.navbar nav ul li:nth-child(4):hover {
  background-color: #e5d9f2;
}

.navbar nav ul li:nth-child(5):hover {
  background-color: #ffd8ff;
}

.navbar nav ul li:nth-child(6):hover {
  background-color: #ffd8e5;
}

.navbar nav ul li:nth-child(7):hover {
  background-color: #f5dad2;
}

.navbar nav ul li:nth-child(8):hover {
  background-color: #eee7cd;
}
.navbar nav ul li:nth-child(9):hover {
  background-color: #d0d0d0;
}

.navbar nav ul li a {
  text-decoration: none;
  display: block;
}
