.splashScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  color: #ffffff;
  font-size: 24px;
  z-index: 1000;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
