.streak_calendar_container {
  width: 86%;
  padding: 15px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.streak_calendar_title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.streak_calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.streak_inner_header {
  backdrop-filter: blur(5px);
  padding: 14px 8px;
  border-radius: 5px;
}

.streak_calendar_header {
  text-align: center;
  font-weight: bold;
  background-color: #1a0933;
  /* background: linear-gradient(
    150deg,
    #571fa0,
    #420d73,
    #420d73,
    #420d73,
    #571fa0
  ); */
  color: white;
  /* border: 1px solid rgba(255, 255, 255, 0.208); */
  border-radius: 10px;
}

.glowingEffect {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #6a3ba3;
  border-radius: 50%;
  box-shadow: 0 0 150px 150px rgba(111, 6, 210, 0.45);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0s ease-in-out;
}

.glowingEffect.disable {
  visibility: hidden !important;
}

.glowingEffect.active {
  visibility: visible !important;
}

.streak_calendar_table_1 {
  margin: 0px 120px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  box-shadow: 0 8px 10px black;
  background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif");
  /* background-image: url("https://i.pinimg.com/564x/56/b9/bf/56b9bff1c72c4cb98bade7ec7118e64b.jpg"); */
}

.streak_calendar_table {
  /* background-color: #0d0229af; */
  backdrop-filter: blur(130px);
  border-radius: 20px;
  position: relative;
  padding: 50px 65px;
  overflow: hidden;
  border: 3px solid rgba(210, 179, 255, 0.6);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  perspective: 1000px;
}

.streak_calendar_table:hover {
  box-shadow: 0 15px 20px black !important;
}

.streak_calendar_day {
  padding: 10px 8px;
  background-color: #f0f0ffd5;
  color: black;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.streak_calendar_day:hover {
  transform: scale(1.02);
  background-color: #ffffff;
  box-shadow: 0 4px 12px black;
}

.streak_calendar_day.activity {
  background-color: #453262df;
  opacity: 1;
}

/* .streak_calendar_day.special {
  background-color: #c8b2ff71;
  opacity: 1;
}

.streak_calendar_day.special:hover {
  background-color: #452b85e6;
  opacity: 1;
} */

.task_section {
  margin-top: 20px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.navigation_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 385px;
  margin-bottom: 20px;
}

.navigation_buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.navigation_buttons button:hover {
  transform: scale(1.15);
}

.prev_button {
  background-image: url("/public/prev.svg");
  float: left;
}

.next_button {
  background-image: url("/public/next.svg");
  float: right;
}

.selected_day {
  background-color: white !important;
  color: black;
}

.streak_calendar_table:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(51, 2, 94, 0.7);
}

.streak_image {
  height: 25px;
  transition: transform 1s ease;
}

.streak_image:hover {
  transform: rotateY(360deg);
}
