.streak_calendar_container {
  width: 100%;
  padding: 20px 70px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-x: hidden;
}

.streak_calendar_title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.streak_calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.streak_calendar_header {
  text-align: center;
  font-weight: bold;
  padding: 15px 8px;
  background-color: #6c757d;
  color: white;
  border-radius: 8px;
}

.streak_calendar_table {
  padding: 50px 70px;
  background-color: #e4e7ed;
  border-radius: 12px;
  margin: 0px 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.streak_calendar_day {
  padding: 10px 8px;
  background-color: rgb(186, 186, 190);
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.streak_calendar_day:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.streak_calendar_day.activity {
  background-color: #28a745;
}

.streak_calendar_day.special {
  background-color: #f4f4f4;
}

.task_section {
  margin-top: 20px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.navigation_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.navigation_buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.navigation_buttons button:hover {
  transform: scale(1.1);
}

.prev_button {
  background-image: url("/public/next.svg");
}

.next_button {
  background-image: url("/public/next.svg");
}
