.streak_calendar_container {
  width: 100%;
}

.streak_calendar_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.streak_calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.streak_calendar_header {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.streak_calendar_day {
  padding: 10px;
  background-color: lightgray;
  color: white;
  text-align: center;
  cursor: pointer;
}

.streak_calendar_day.activity {
  background-color: green;
}

.streak_calendar_day.special {
  background-color: rgb(134, 133, 137);
}

.task_section {
  margin-top: 20px;
}
