.streak_calendar_container {
  width: 86%;
  padding: 15px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.streak_calendar_title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #624e88;
  text-align: center;
}

.streak_calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.streak_calendar_header {
  text-align: center;
  font-weight: bold;
  padding: 15px 8px;
  background-color: #8967b3;
  color: white;
  border-radius: 5px;
}

.glowingEffect {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #6a3ba3;
  border-radius: 50%;
  box-shadow: 0 0 150px 150px rgba(105, 65, 155, 0.386);
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* visibility: hidden; */
  transition: all 0s ease-in-out;
}

.glowingEffect.disable {
  visibility: hidden !important;
}

.glowingEffect.active {
  visibility: visible !important;
}

.streak_calendar_table {
  padding: 50px 70px;
  background-color: #10061d;
  border-radius: 12px;
  position: relative; /* Needed to contain the absolute position of glowing effect */
  overflow: hidden;
  margin: 0px 120px;
  box-shadow: 0 8px 10px black;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  perspective: 1000px;
}

.streak_calendar_table:hover {
  box-shadow: 0 15px 20px black !important;
}

.streak_calendar_day {
  padding: 10px 8px;
  background-color: #a286c5df;
  color: black;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.streak_calendar_day:hover {
  transform: scale(1.02);
  background-color: #f5f1f9f1;
  box-shadow: 0 4px 12px black;
}

.streak_calendar_day.activity {
  background-color: #453262df;
  opacity: 1;
}

.streak_calendar_day.special {
  background-color: #453262df;
  opacity: 1;
}

.streak_calendar_day.special:hover {
  background-color: #371761 !important;
  opacity: 1;
}

.task_section {
  margin-top: 20px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.navigation_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 385px;
  margin-bottom: 20px;
}

.navigation_buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.navigation_buttons button:hover {
  transform: scale(1.1);
}

.prev_button {
  background-image: url("/public/prev.svg");
  float: left;
}

.next_button {
  background-image: url("/public/next.svg");
  float: right;
}

.selected_day {
  background-color: #371761 !important;
  color: white;
}

.streak_calendar_table:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(51, 2, 94, 0.7);
}

.streak_image {
  height: 25px;
  transition: transform 1s ease;
}

.streak_image:hover {
  transform: rotateY(360deg);
}
