.task_item_outer {
  /* background-color: #0056b3; */
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/564x/14/31/a7/1431a726423b954a039f4d0223a1c1c0.jpg");
  border-radius: 8px;
}

.task_item {
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 15px;
  background-color: rgba(238, 226, 248, 0.148);
  backdrop-filter: blur(150px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: border 0.5s ease, transform 2s ease;
}

.task_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 3px solid #f3f1ff8b;
  animation: rotate-border 7s linear infinite;
  transition: border-color 0.5s ease;
  pointer-events: none;
}

@keyframes rotate-border {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.task_item_outer:hover {
  transform: scale(1.02);
}

.task_item:hover {
  border: 3px solid #f3f1ff8b;
  backdrop-filter: blur(200px);
  transform: scale(1.02);
}

.task_item:hover::before {
  border-color: transparent;
}

.task_item.done {
  /* background: #b3e8e5; */
  /* border: 3px solid transparent; */
  text-decoration: line-through;
  background-color: rgba(26, 4, 45, 0.376);
  text-decoration-thickness: 2px;
  text-decoration-color: #c4afe196;
}

.done p,
.done h3,
.done label {
  color: black !important;
}

/* .task_item.done::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 3px solid #3bacb6;
  animation: rotate-border 7s linear infinite;
  transition: border-color 0.5s ease;
  pointer-events: none;
} */

.done:hover {
  border: 3px solid #f3f1ff8b;
  transform: scale(1.02);
}

.done:hover::before {
  border-color: transparent;
}

.done button.delete,
.done button.update {
  color: white !important;
  background-color: rgba(27, 4, 49, 0.622) !important;
}

.done button.delete:hover,
.done button.update:hover {
  background-color: rgba(27, 4, 49, 0.876) !important;
}

.task_item h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: white;
  font-weight: 600;
}

.task_item p {
  font-size: 16px;
  color: #f3f1ff8b;
  margin: 0 0 10px;
}

.task_item label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #f3f1ff8b;
  margin-bottom: 10px;
}

.task_item input[type="checkbox"] {
  margin-left: 10px !important;
  margin-top: 5px;
}

.task_item button {
  background: #c4afe1;
  font-weight: 600;
  color: rgb(43, 9, 91);
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

.task_item button:hover {
  background: #a790c8d0;
}

.task_item button.up,
.task_item button.down {
  background: transparent;
  margin: 0;
  padding: 0;
  float: right;
}

.task_item button.up img,
.task_item button.down img {
  height: 35px;
}

/* .task_item button.up:hover {
  background: #218838;
}

.task_item button.down:hover {
  background: #e0a800;
} */

.taskUpdateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  border-radius: 8px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  box-sizing: border-box;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
