.formContainer {
  display: inline-flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  align-content: center !important;
}

.inputField,
.selectField,
.button {
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  border: none;
  color: white;
}
