.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 9px 12px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  color: #d1c4db;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  border: 3px solid rgba(210, 179, 255, 0.62);
  background-color: #4a2b73;
  /* background-image: url("../../public/log5.png"); */
  background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif");
  /* background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif"); */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  perspective: 1000px;
}

.task_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  backdrop-filter: blur(80px);
  width: 100%;
  border-radius: 12px;
  color: #d1c4db;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  perspective: 1000px;
}

@media (max-width: 768px) {
  .form_container {
    padding: 15px;
    width: 90%;
    background-size: cover;
  }

  .task_form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .form_container {
    padding: 10px;
  }

  .task_form {
    padding: 8px;
  }
}

.form_container:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
}

.task_form_input,
.task_form_select {
  padding: 5px;
  border: 2px solid #d1c4db3f;
  border-radius: 7px;
  width: 100%;
  backdrop-filter: blur(50px);
  color: #d1c4db;
  font-size: 16px;
  background-color: transparent;
}

.task_form_input::placeholder {
  color: #d1c4db;
}

.task_form_input:focus,
.task_form_select:focus {
  border: 2px solid #d1c4db88 !important;
  outline: none;
}

.task_form_button {
  background-color: rgba(87, 45, 142, 0.931);
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-weight: 700;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  border: none;
  transition: transform 0.8s ease, background-color 0.3s ease;
}

.task_form_button:hover {
  background-color: rgb(92, 54, 145);
  transform: scale(1.03);
}

.task_form_image1,
.task_form_image2 {
  height: 200px;
  margin-right: 20px;
  animation: bounceSideToSide1 12s ease-in-out infinite;
  transition: transform 0.5s ease;
}

@keyframes bounceSideToSide1 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px) translateY(-10px) scale(1.1);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(20px) translateY(-10px) scale(0.9);
  }
}

.task_form_div {
  display: flex;
  align-items: center;
  gap: 10px;
}
